@tailwind base;
@tailwind components;
@tailwind utilities;

/* Loader BackendWake */
.loader {
  border: 4px solid #e0e7ff;
  border-top: 4px solid #3b82f6;
  border-radius: 50%;
  width: 48px;
  height: 48px;
  animation: spin 1s linear infinite, fadeIn 0.5s ease-in-out;
}

/* Animations loader BackendWake */
@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
